<div id="<%= dom_id kindergarten %>">
  <p>
    <strong>Name:</strong>
    <%= kindergarten.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= kindergarten.description %>
  </p>

  <p>
    <strong>Photo:</strong>
    <%= kindergarten.photo %>
  </p>

  <p>
    <strong>Id city:</strong>
    <%= kindergarten.id_city %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= kindergarten.price %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= kindergarten.phone %>
  </p>

  <p>
    <strong>Published:</strong>
    <%= kindergarten.published %>
  </p>

  <p>
    <strong>Id proprietary:</strong>
    <%= kindergarten.id_proprietary %>
  </p>

</div>
