<div class="card border border-primary" style="width: 18rem;" id="<%= dom_id kindergarten %>">
  <img src="..." class="card-img-top" alt="...">  <%= kindergarten.photo %>
  <div class="card-body">
    <h5 class="card-title"> <p>
    <strong>Id proprietary:</strong>
    <%= kindergarten.id_proprietaries %>
  </p><strong>Name:</strong>
    <%= kindergarten.name %></h5><h4>
    <strong>Id city:</strong>
    <%= kindergarten.id_cities %></h4>
    <p class="card-text"><strong>Description:</strong>
    <%= kindergarten.description %></p>
      <p>
    <strong>Phone:</strong>
    <%= kindergarten.phone %>
  </p>
  <p>
    <strong>Price:</strong>
    <%= kindergarten.price %>
  </p>
  </div>
</div>